@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: #259DF4;
  --color-secondary: #1E85D1;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-info: #38BDF8;

  /* Accent */
  --color-accent: #6366F1;
  --color-accent-soft: #EEF2FF;

  /* Neutral */
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;
  --color-muted: #94A3B8;

  /* Text */
  --color-text-primary: #0F172A;
  --color-text-secondary: #475569;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}