version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: prioritix-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: prioritix
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./prioritix.sql:/docker-entrypoint-initdb.d/init.sql

  server:
    build: ./server
    container_name: prioritix-server
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=prioritix
      - PORT=3000
      - JWT_SECRET=rahasia_kamu
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: prioritix-client
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mysql_data:
